			body { 
				background-color: #fff5ee; 
				}
			
			.wrapper { 
				width: 960px; 
				margin: 0 auto; 
				}
			
			.name { 
				height: 60px; 
				margin-bottom: 30px; 
				padding-left: 15px; 
				width: 100%; 
				}
			
			.sidebar { 
				float:left; 
				width: 200px; 
				margin: 0px 30px 0px 10px; 
				border-top: 1px dotted #000; 
				border-bottom: 1px dotted #000; 
				}
				
			.sidebar ul { 
				list-style: none; 
				margin: 0; 
				text-transform: uppercase; 
				}
				
			.sidebar li { 
				margin: 0px 0px 0px -15px; 
				padding: 5px 0px; 
				text-decoration: none; 
				color: #000; 
				font-family: 'Source Sans Pro', sans-serif; 
				letter-spacing: 0.2em; 
				}
					
			.sidebar li a { 
				margin: 0px 0px 0px -15px; 
				display: block; 
				padding: 5px 0px; 
				text-decoration: none; 
				color: #000; 
				font-family: 'Source Sans Pro', sans-serif; 
				letter-spacing: 0.2em; 
				}
					
			.sidebar a:hover { 
				-webkit-transition: 0.2s color ease-in-out; 
				-moz-transition: 0.2s color ease-in-out; 
				-o-transition: 0.2s color ease-in-out; 
				color: #b3b3b3; 
				}
					
			.sidebar li.current { 
				margin: 0px 0px 0px -15px; 
				padding: 5px 0px; 
				text-decoration: none; 
				color: #ba2018; 
				font-family: 'Source Sans Pro', sans-serif; 
				letter-spacing: 0.2em; 
				}
					
			.sidebar li a.current { 
				margin: 0px 0px 0px -15px; 
				display: block; 
				padding: 5px 0px; 
				text-decoration: none; 
				color: #ba2018; 
				font-family: 'Source Sans Pro', sans-serif; 
				letter-spacing: 0.2em; 
				}
					
			.sidebar a.current:hover { 
				-webkit-transition: 0.2s color ease-in-out; 
				-moz-transition: 0.2s color ease-in-out; 
				-o-transition: 0.2s color ease-in-out; 
				color: #b3b3b3; 
				}
					
			.main { 
				float: left; 
				width: 690px; 
				margin 0px 10px 20px 10px; 
				-moz-box-shadow: 0 0 5px #b3b3b3; 
				-webkit-box-shadow: 0 0 5px #b3b3b3; 
				box-shadow: 0 0 5px #b3b3b3; 
				background-color: #fff; 
				padding: 5px 15px; 
				border-radius: 5px; 
				-moz-border-radius: 5px; 
				-webkit-border-radius: 5px; 
				}
			
			.pftop {
				width: 690px;
				margin: 0px 0px 15px 0px;
				overflow: auto;
				}
				
			.mainimg { 
				float: left; 
				width: 440px; 
				margin: 0 auto;
				padding: 10px 0px 3px 10px; 
				border: 1px solid #b3b3b3; 
				}
				 
			.mainimg img { 
				width: 430px; 
				margin: 0 auto; 
				}
				
			.details { 
				float: left; 
				width: 220px; 
				margin: 0px 0px 0px 10px; 
				line-height: 10px; 
				}
				
			.details ul { 
				font-family: 'Merriweather', serif; 
				font-weight: 300; 
				margin: 0px 0px 30px 0px; 
				}
				
			.details li { 
				font-family: 'Merriweather', serif; 
				font-weight: 300; 
				font-size: 14px; 
				margin: 0px 0px 0px -22px; 
				line-height: 20px; 
				}

			.details ul#last { 
				margin: 0;
				}
				
			.moretext { 
				padding: 0;
				margin: 0;
				}
				
			.spacer { 
				height: 10px; 
				color: #fff5ee; 
				}
				
			.pflist { 
				list-style: none; 
				}
				
			.pflist li { 
				display: block;
				margin: 0px 0px 0px -40px; 
				padding: 0; 
				font-family: 'Merriweather', serif; 
				font-size: 22px; 
				weight: 400; 
				line-height: 2.4; 
				}
				
			.pflist li a { 
				text-decoration: none; 
				color: #ba2018; 
				}
					
			.pflist li a:hover { 
				-webkit-transition: 0.2s color ease-in-out; 
				-moz-transition: 0.2s color ease-in-out; 
				-o-transition: 0.2s color ease-in-out; 
				color: #b3b3b3; 
				}
					
			.tags { 
				float: right; 
				list-style: none; 
				}
				
			.tags li { 
				display: inline; 
				margin: 0; 
				padding-left: 9px; 
				color: #b3b3b3; 
				font-family: 'Source Sans Pro', sans-serif; 
				font-size: 14px; 
				line-height: 1; 
				}
				
			h1 { 
				font-family: 'Merriweather', serif; 
				font-weight: 700; 
				color: #ba2018; 
				font-size: 48px; 
				}
				
			h1 a { 
				color: inherit;
				text-decoration: none; 
				}
				
			h1 a:hover { 
				-webkit-transition: 0.3s color ease-in-out; 
				-moz-transition: 0.3s color ease-in-out; 
				-o-transition: 0.3s color ease-in-out; 
				color: #b3b3b3; 
				}
				
			h2 { 
				font-family: 'Merriweather', serif; 
				font-weight: 400; 
				color: #000; 
				line-height: 12px; 
				}
				
			h3 { 
				font-family: 'Source Sans Pro', sans-serif; 
				font-weight: normal; 
				font-size: 14px; 
				line-height: 0px; 
				text-transform: uppercase;
				}
				
			h4 { 
				font-family: 'Merriweather', serif; 
				font-weight: 700; 
				color: #000; 
				font-size: 33px; 
				}
				
			p { 
				font-family: 'Merriweather', serif; 
				font-weight: 400; 
				line-height: 20px; 
				margin-bottom: 12px; 
				line-height: 1.3;
				}
				
			p a { 
				text-decoration: none; 
				color: #ba2018; 
				}
				
			p a:hover { 
				text-decoration: underline; 
				}
							
			hr { 
				width: 100%; 
				color: #ba2018; 
				margin-bottom: 10px; 
				}
