<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="styles/styles.css" />

  <script src="//use.typekit.net/ufk0xud.js"></script>
  <script>try {Typekit.load();} catch (e) {}</script>

  <title>Chick-fil-a Challenge</title>
</head>
<body ng-app="app">

<div class="container">

  <div ng-controller="randomizer">
    <div><h4>Fred likes</h4></div>
    <div><h2>{{likes}}</h2></div>
    <div><h4>but he doesn't like</h4></div>
    <div><h2>{{dislikes}}</h2></div>

    <div class="buttons">
      <button ng-click="$root.writeIt = true">Try your own</button>
      <button ng-click="refresh()">What else does Fred like?</button>
    </div>
  </div>

  <div ng-show="writeIt" class="modal" ng-controller="checker">

    <span class="close zicon-nope" ng-click="$root.writeIt = false"></span>

    <div><h4>Fred likes</h4></div>
    <div><h2><input class="big-input" ng-model="fredLikes"/></h2></div>
    <div><h4>but he doesn't like</h4></div>
    <div><h2><input class="big-input" ng-model="fredDislikes"/></h2></div>

    <div class="buttons">
      <button ng-click="check()">Check It</button>
    </div>

    <div ng-show="hasMessage" class="message">
      <div ng-if="isALike && isADislike">
        <span class="zicon-check"></span>
        <h4>Yes, Fred likes {{fredLikes}} but not {{fredDislikes}}</h4>.
      </div>
      <div ng-if="isALike && !isADislike">
        <span class="zicon-nope"></span>
        <h4>No, Fred likes both of those things</h4>.
      </div>
      <div ng-if="!isALike && isADislike">
        <span class="zicon-nope"></span>
        <h4>No, Fred likes {{fredDislikes}} but no {{fredLikes}}</h4>.
      </div>
      <div ng-if="!isALike && !isADislike">
        <span class="zicon-nope"></span>
        <h4>No, Fred doesn't like either of those things</h4>.
      </div>
    </div>

  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-animate.min.js"></script>
<script src="scripts/experiment.js"></script>

</body>
</html>
